{% extends "kilimanjaro/base.html" %}

{% block title %}
    home
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-5">Welcome to Kilimanjaro Attendance Management</h1>
            <p class="lead">Your solution for efficient and organized employee attendance tracking.</p>
            <hr class="my-4">
            <p>Log in to view your attendance or manage attendance records and keep track of your team's attendance effortlessly.</p>
        
        </div>
    </div>

{% endblock %}