{% extends "kilimanjaro/base.html" %}

{% block title %}
    Signup
{% endblock %}

{% block content %}

    {% if form.errors %}
    <div class="alert alert-danger mt-3">
        {% for field, errors in form.errors.items %}
            <strong>{{ field|title }}:</strong> {{ errors.0 }}<br>
        {% endfor %}
    </div>
    {% endif %}


    <div class="container p-5">
        <h3>Create an account</h3>
        <div class=" border border-dark p-3 bg-light">
            <form action="#" method="post">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="form-group">
                    <label for="id_{{ field.name }}">{{field.label}}</label>
                    <input type="{{field.field.widget.input_type}}" class="form-control" name="{{ field.name }}" id="{{ field.name }}" placeholder="{{ field.name }}">
                </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary">Sign-up</button>
            </form>
            </br>  
            Already have an account? <a class="text-primary" href="{% url 'login' %}">Login</a>
        </div>
    </div>    

{% endblock %}